:root{

    /*
      Override desired values for the following variables.
    */


    /* GENERAL */
    --GENERAL-FONT: var(--GENERAL-FONT-1);
    --TITLE-FONT: var(--GENERAL-FONT-2);
    /*--GENERAL-COLOR-2: rgb(255, 128, 0);*/

    /* HOME */
    --HOME-TEXT-COLOR: var(--GENERAL-COLOR-1);
}